.guild#bd-pub-li {
    display:none;
}
.guilds-wrapper .guilds .friends-icon {
    height: 115% !important;
    width: 115% !important;
    top:3px!important;
    margin-top:3px!important;
    left: -6px !important;
}
.guilds-wrapper .guilds .guild {
    padding: 0 !important;
    width: 52px !important;
    height: 42px !important;
    margin-left: 3.25px !important;
    margin-bottom: 5px!important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    height: 42px !important;
    width: 60px!important;
    left:-2px!important;
}
.guilds-wrapper .guilds .guild .guild-inner a::after {
    height: 37px !important;
    width: 37px !important;
    left: 40.5px !important;
    top:21px!important;
}
.badge {
    bottom: -10px !important;
    right: -8px !important;
}
.guilds-wrapper .guilds .guild .guild-inner .avatar-small[style*="font-size"], .guilds-wrapper .guild.guilds-add::after {
    font-size: 13px!important;
    line-height: 41px!important;
    text-align: middle!important;
    text-indent: -20px!important;
    height: 47px!important;
}
.guilds-wrapper .guilds .guild .guild-inner a.avatar-small, .guilds-wrapper .guild.guilds-add::after {
    width:100px!important;
    padding:0!important;
    left:-11px!important;
}
.guilds-wrapper .guild.guilds-add::after {
    line-height: 17px!important;
    text-indent: 0px!important;
    width:24px!important;
    height: 25px!important;
    left:31px!important;
    bottom: 51px!important;
}
.guilds.scroller, .guilds-wrapper .scroller-wrap {
    width:60px!important;
}
.guilds-wrapper .guilds .guild .guild-inner a::before {
    height: 100% !important;
    width: 100% !important;
    bottom: 16px !important;
    left: 7% !important;
}
.guilds-wrapper .guilds .guild .guild-inner a {
    width: 37px !important;
    height: 45px !important;
    padding-left: 32px !important;
    padding-top: 6px;
}
.guilds .guild-placeholder {
    height: 30px!important;
    width: 34px!important;
    box-shadow: none !important;
}
.guilds-wrapper::-webkit-scrollbar {
    width: 0px !important;
}
.guilds-wrapper .guild.guilds-add {
    border: 0px !important;
    background: transparent !important;
    transition: all 200ms ease!important;
    margin-left: 0px!important;
    font-size: 0px !important;
    font-weight: 600 !important;
    margin: 0px!important;
    position: absolute !important;
    left: -21px !important;
    bottom: 0px !important;
    color: transparent !important;
    height: 70px !important;
    width: 80px !important;
    padding: 0 !important;
    z-index: 1000 !important;
}
.guild#bd-pub-li a #bd-pub-button {
    margin-left: 1px !important;
}
.guilds-wrapper .guilds .friends-online {
    font-size: 0px !important;
    margin: 0!important;
}
.guilds-wrapper {
    width: 60px !important;
}
.status-picker.popout-menu {
    left: 40px!important;
}
.tooltip.tooltip-right.tooltip-black {
    margin-left: 0px !important;
    left: 65px!important;
}
.popout-bottom[style*="overflow: hidden; visibility: visible;"] {
    left:60px!important;
}
/* this will hopefully work */
.guilds-error {
    transform: scale(0.5)!important;
    left: -17.5%!important;
    top: -20%!important;
}
/* by Pointy    */
.guilds-wrapper .guilds {
    height: unset!important;
}
body .guilds .guild:not(.guilds-add):last-of-type {
    margin-bottom: unset!important;
}
body .guilds-wrapper .guilds .guilds-add {
    position: static!important;
    margin-top: 6px!important;
}
